/* Custom style for admonition boxes with the todo class */
.admonition.todo {
    border-left: 4px solid #31708f;
    background-color: #d9edf7;
    padding: 10px;
    margin: 1em 0;
    border-radius: 4px;
}

.admonition.todo .admonition-title {
    background-color: var(--pst-color-secondary-bg);
    font-weight: var(--pst-admonition-font-weight-heading);
    margin: 0 -.6rem;
    padding: .4rem .6rem .4rem 2rem;
    position: relative;
    z-index: 1;
}

.admonition.todo p.admonition-title {
    margin: 0px 10px 5px 0px;
    font-weight: bold;
}

.admonition.todo p {
    font-size: 1em;
    margin-bottom: 1rem;
    margin-top: 0;
}

/* Ensure box-sizing and font settings are consistent */
.admonition.todo *, .admonition.todo ::after, .admonition.todo ::before {
    box-sizing: border-box;
}

.admonition.todo body {
    color: var(--pst-color-text-base);
    font-family: var(--pst-font-family-base);
    font-weight: 400;
    line-height: 1.65;
}

.admonition.todo html[data-theme="light"] {
    --pst-color-primary-bg: #d0ecf1;
    --pst-color-secondary-bg: #e0c7ff;
    --pst-color-info-bg: #dce7fc;
    --pst-color-warning-bg: #f8e3d0;
    --pst-color-success-bg: #d6ece1;
    --pst-color-danger-bg: #f9e1e4;
    --pst-color-text-base: #222832;
    --pst-color-text-muted: #48566b;
    --pst-color-link: var(--pst-color-primary);
    --pst-color-link-hover: var(--pst-color-secondary);
    --pst-color-background: #fff;
    --pst-color-on-background: #fff;
    --pst-color-surface: #f3f4f5;
    --pst-color-on-surface: #222832;
    --pst-color-shadow: rgba(0,0,0,.1);
    --pst-color-border: #d1d5da;
}
